
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column">
        <li class="nav-item title">
          <a class="nav-link">问题定位</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='1'}">
          <a class="nav-link" (click)="showQuestions('1')">HTML/CSS</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='2'}">
          <a class="nav-link" (click)="showQuestions('2')">JavaScript</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='3'}">
          <a class="nav-link" (click)="showQuestions('3')">Java/Spring</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='4'}">
          <a class="nav-link" (click)="showQuestions('4')">TypeScript</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='5'}">
          <a class="nav-link" (click)="showQuestions('5')">Angular</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='6'}">
          <a class="nav-link" (click)="showQuestions('6')">MyBatis</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='7'}">
          <a class="nav-link" (click)="showQuestions('7')">SQL</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='8'}">
          <a class="nav-link" (click)="showQuestions('8')">Junit</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link">我的问题</a>
        </li>
        <li class="nav-item" [ngClass]="{'tag-active': type=='9'}">
          <a class="nav-link" (click)="showQuestions('9')">提问</a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'tag-active': type=='10'}">
          <a class="nav-link" (click)="showQuestions('10')">解答</a>
        </li> -->
      </ul>
    </div>
    <div class="col-md-10">
      <div *ngFor="let item of questions" [(ngModel)]="questions" ngDefaultControl>
        <div class="box-none" [ngClass]="{'box-block': type=='1'}">
          <div class="questions-box" *ngIf="item.questionsType=='1'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='2'}">
          <div class="questions-box" *ngIf="item.questionsType=='2'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='3'}">
          <div class="questions-box" *ngIf="item.questionsType=='3'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='4'}">
          <div class="questions-box" *ngIf="item.questionsType=='4'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='5'}">
          <div class="questions-box" *ngIf="item.questionsType=='5'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='6'}">
          <div class="questions-box" *ngIf="item.questionsType=='6'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='7'}">
          <div class="questions-box" *ngIf="item.questionsType=='7'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-none" [ngClass]="{'box-block': type=='8'}">
          <div class="questions-box" *ngIf="item.questionsType=='8'">
            <div class="row">
              <div class="col-md-9">
                <h4 (click)="jumpQuestions(item.questionsId)">{{item.questionsTitle}}</h4>
              </div>
              <div class="col-md-1">{{item.questionsAuthor}}</div>
              <div class="col-md-2">{{item.questionsTime}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{item.questionsData}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="box-none" [ngClass]="{'box-block': type=='9'}">
        <div class="col-background ">
          <div class="col-md">
            <span class="tw">提问</span>
          </div>
          <div class="input-group q-title">
            <div class="input-group-prepend">
              <span class="input-group-text">标题</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="title"></textarea>
          </div>
          <div class="input-group q-data">
            <div class="input-group-prepend">
              <span class="input-group-text">内容</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="text"></textarea>
          </div>
          <div class="row select">
            <div class="col-md-9">
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <select class="custom-select" id="inputGroupSelect" [(ngModel)]="questionsType">
                  <option selected>类型</option>
                  <option value="1">HTML/CSS</option>
                  <option value="2">JavaScript</option>
                  <option value="3">Java/Spring</option>
                  <option value="4">TypeScript</option>
                  <option value="5">Angular</option>
                  <option value="6">MyBatis</option>
                  <option value="7">SQL</option>
                  <option value="8">Junit</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <button class="btn btn-success" (click)="setQuestions()">提交</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
