
.col-background{
  background: #ffffff;
  margin-left: 15px;
  margin-top: 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
}
.table{
  text-align: center;
}
span{
  margin: 10px;
}
.question-inform{
  border-bottom: 1px solid #f5f6f7;
  border-top: 1px solid #f5f6f7;
}
p{
  text-indent:35px
}
.answer{
  border-bottom: 1.5px solid #f5f6f7;
  margin: 5px;
}
.btn-success{
  float:right
}
.rbox {
  background-color:#f5f6f7;
  padding-left: 100px;
  // height: 100%;
  overflow:hidden;
}


