<div nz-row>
  <div nz-col nzSpan="4">
    <ul nz-menu nzMode="inline">
      <li nz-menu-item class="text-center" (click)="showTable('1')">我的面试</li>
      <!-- <li nz-menu-item class="text-center" (click)="showTable('2')">#######</li> -->
    </ul>
  </div>
  <div nz-col nzSpan="20">
    <div class="box-none" [ngClass]="{'box-block': type=='1'}" >
      <nz-table #recruitTable [nzData]="recruit"  >
        <thead>
          <tr>
            <th nzAlign="center">学号</th>
            <th nzAlign="center">姓名</th>
            <th nzAlign="center">面试地点</th>
            <th nzAlign="center">面试时间</th>
            <th nzAlign="center">面试结果</th>
            <th nzAlign="center">操作</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of recruitTable.data ; let i = index;" [(ngModel)]="recruit" ngDefaultControl>
            <td nzAlign="center" >{{ data.userId }}</td>
            <td nzAlign="center" >{{ data.userName }}</td>
            <td nzAlign="center" >{{ data.place }}</td>
            <td nzAlign="center" >{{ data.time }}</td>
            <td nzAlign="center" *ngIf="data.state=='0'">未面试</td>
            <td nzAlign="center" *ngIf="data.state=='1'">通过</td>
            <td nzAlign="center" *ngIf="data.state=='2'">未通过</td>
            <td nzAlign="center" >
              <button nz-button nzType="primary" (click)="setMyInterview(data.userId,'1',i)">通过</button>
              <button nz-button nzType="primary" nzDanger (click)="setMyInterview(data.userId,'2',i)">未通过</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="box-none" [ngClass]="{'box-block': type=='2'}">
      1111111111111
    </div>

  </div>
</div>
