.text-center{
  text-align:center;
  font-size: large;
}
.box-block{
  display: block !important;
}
.box-none{
  display: none;
}
.center{
  text-align:center;
}
p{
  line-height: 25px ;
  overflow: hidden ;
  white-space: nowrap ;
  text-overflow:ellipsis ;
}
h4:hover{
  color:red;
  cursor: pointer;
}
.questions-box{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
}
nz-divider{
  margin: 0px;
}

