.box-block{
  display: block !important;
}
.box-none{
  display: none;
}
span:hover{
  color:blue;
  cursor: pointer;
}
.text-center{
  text-align:center;
  font-size: large;
}
.userAddBox{
  margin-top: 30px;
}
.testR{
  margin-top: 10px;
  text-align:center;
}
.select{
  width: 70px;
  margin-right: 10px;
}
.testW{
  margin: 10px;
}
